body {
    background: #FFD9B0;
    display: flex;
    justify-content: center;
    font-family:Helvetica, sans-serif;
}

div.container {
    width: 73%;
    height: 80vh;
    display: flex;
    background: #000;
    border-radius: 4px;
}

.img-container {
    background-image: url("form-img.jpg");
    object-fit: cover;
    background-color: #cccccc;
    height: 100%;
    width: 132%;
    background-repeat: no-repeat;
    border-radius: 4px 0 0 4px;

}

.form-container {
    display: flex;
    flex-direction: column;
}

input {
    width: 98%;
    background: #000;
    border-style: none;
    border-bottom: 1px solid white;
    margin-bottom: 35px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 21px;
    margin-bottom: 41px;
}

form {
    margin: 50px;
}

button {
    padding: 12px 41px;
    background: #EDB77D;
    border-style: none;
    color: white;
    border-radius: 4px;
}