@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');

body{
    box-sizing: border-box;
}

*, 
*::before, 
*::after{
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

h2, 
h4{
    font-family: 'Montserrat', sans-seri
}

main{
    max-width: 1400px;
    margin: 50px auto;
}

.auto-content,
.auto-image{
    display: inline-block;
    vertical-align: top;
}

.auto-content{
    width: 45%;
    margin-right: 50px;
}

.auto-image img{
    width: 100%;
}

li{
    list-style: none;
}

.auto-content-li-image{
   max-width: 55px;
}

.auto-content-li-image img {
    width: 100%;
}


.auto-content-li-text,
.auto-content-li-image{
    display: inline-block;
    vertical-align: middle;
}

h4{
 margin: 0;  
}

.auto-content-li-text p{
   margin: 0px;
}

.auto-content-benefits{
    padding: 0;
}

