body {
  background: #ebebeb;
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

ul {
  background: #fff;
  display: flex;
  padding: 5px;
}

li {
  background: #2d2d2d;
  border-radius: 4px;
  list-style-type: none;
  margin-right: 7px;
  padding: 5px 8px;
}

li:nth-child(5) {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

@media all and (max-width: 750px) {
  .container {
    flex-wrap: wrap;
    border-bottom: none;
  }

  h1 {
    flex-basis: 100%;
  }

  ul {
    flex-direction: column;
    width: 100%;
  }

  li,
  li:nth-child(5) {
    margin: 7px 6px;
  }

  .Menu-p {
    flex-grow: 1;
    text-align: center;
  }
}
