body{
    margin: 35px 50px;
}

table tr:nth-child(odd) td{
    background: rgb(241, 241, 241);
}


 td {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

table{
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

tr:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

th {
    border-width: 1px;
    background: rgb(204, 204, 204);
}

tr, td{
    width: 200px;
}