@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

* {
  margin: 0;
}

main {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url(/image.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

.login-section{
    padding: 15% 35%;
}

label{
    width: 100%;
}

input{

    margin: 7px;
}


.input-common{
    width: 100%;
    border-style: none;
    border-bottom: #c7c7c7 1px solid;
    margin-left: 0;
}

form{
    width: 265px;
    background: #fff;
    margin-left: 143px;
    padding: 28px 0;
    border-radius: 5px;
    position: relative;
}

.submit{
    margin-left: 92px;
    background: #D41872;
    color: white;
    border-style: none;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 7px 32px;
    font-size: 11px;
}

i{
    position: absolute;
    left: 0;
}

.fa-user{
    top: 32px;
    left: 21px;
    font-size: 18px;
    color: #c7c7c7;
}


.fa-lock{
    top: 70px;
    font-size: 15px;
    color: #c7c7c7;
    left: 22px;
}

::placeholder{
    text-align: center;
    margin-bottom: 10px;
    color: #c5bfbf;
}