@import url('https://use.fontawesome.com/releases/v5.10.2/css/all.css');	

body{
    margin: 80px;
}

a{
    text-decoration: none;
    color: white;
    padding: 3.5px;
    border-radius: 3px;
    padding: 8px;
}

.click-me{
    background-color: rgb(0, 128, 0);
}

.e-mail{
    background-color: rgb(255, 140, 0);
}

p{
    margin: 35px 5px;
}