@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Lato&display=swap');

body{
    margin: 30px 80px;
}

html{
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2{
    font-family: Cormorant, serif;
    line-height: 1.2;
    font-weight: bold;
}

.squares{
    list-style-type: square;
}

.circles{
    list-style: disc;
}