html{
    box-sizing: inherit;
}

section{
    width: 250px;
    height: 250px;
    border: 4px dotted rgb(9, 196, 119);
    text-align: center;
    margin: 50px;
}

p{
    display: block;
    width: 100%;
    padding: 20px;
    border: 5px solid rgb(9, 54, 202);
    box-sizing: border-box;
}

