@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');


body {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* HEADER SECTION */

nav.nav {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 15px 0 ;
}

.nav-logo {
    width: 8%;
    margin: 10px 40px
}

.nav-list {
    display: flex;
}
 .nav-list li {
     list-style: none;
     padding-right: 8px;
 }
 
 .nav-list a {
    text-decoration: none;
    color: #54546D;
    font-weight: 600;
 }

 .header-content {
     background: #54546D;
    justify-content: center;
    padding: 35px 0px 200px 0px;
    position: relative;
 }

 .header-content-title {
     color: white;
     text-align: center;
     flex-grow: 2;
     font-size: 39px;
    font-weight: 500
     
 }

 header {
     display: relative;
 }

 header::before {
    content: '';
    background-image: url(images/calculator-icon.svg);
    height: 203px;
    width: 168px;
    background-size: cover;
    position: absolute;
    left: -54px;
    top: 143px;
    display: inline-block;
    z-index: 3;
 }

 .header-content article {
     display: flex;
     flex-direction: column;
    flex-basis: 30%;
    background: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.75);
    color: #54546D;
 }

 div.header-content-flex-wrapper {
     display: flex;
     justify-content: space-around;
     position: absolute;
     top: 165px;
     margin: 0 180px;
 }

 .design-basics-green-bg {
    background: rgb(7,158,64);
    background: linear-gradient(90deg, rgba(7,158,64,1) 0%, rgba(72,212,125,1) 83%);
    margin-top: 32px;
 }

 .fundamentals-program-blue-bg {
    background: rgb(77,109,138);
    background: linear-gradient(90deg, rgba(77,109,138,1) 0%, rgba(97,152,204,1) 83%);
 }

 .professional-program-purple-bg {
    background: rgb(80,62,171);
    background: linear-gradient(90deg, rgba(80,62,171,1) 0%, rgba(138,123,223,1) 83%);
 }

 .design-basics-green-bg,  .fundamentals-program-blue-bg, .professional-program-purple-bg {
     color: white;
 }

 .header-content article section:nth-child(1) {
     flex-grow: 1;
     padding: 10px 25px;
 }

 .header-content article section:nth-child(2) {
    border-radius: 0 0 4px 4px;
   
 }

 .subsection-flex {
     display: flex;

 }

 .professional-program-subsection, .fundamentals-program-subsection {
    flex-basis: 50%;
 }

 .professional-program-subsection:nth-child(1), .fundamentals-program-subsection:nth-child(1) {
     border-right: white solid 1px;
 }

 .design-basics-green-bg ,.fundamentals-program-blue-bg , .professional-program-purple-bg {
     padding: 5px;
     height: 107px;
 }

 nav.nav button {
    background: #9A5DC6;
    border-style: none;
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
 }
 

 /* MAIN SECTION */

 main .online-or-at-place {
     position: relative;
     top: 300px;
     position: relative;
     top: 200px;
     max-width: 60%;
 }

 main {
     color: #54546D;
 }

 main div.flex-wrapper {
     display: flex;
     justify-content: center;
 }

.online-or-at-place h3{
    font-size: 27px;
    font-weight: 500;
} 

table tr:nth-child(odd) {
    background: #E6E6E6;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}

td:nth-child(1) {
    padding: 20px 30px 20px 10px
}

td:nth-child(2) {
    padding-right: 145px;
}

td:nth-child(3) {
    padding-right: 100px;
}

table {
    width: 100%;
}

table, tr, td {
    border-collapse: collapse;
}


table tr:nth-child(1) {
    border-top-left-radius: 4px;
    border-collapse: separate;
}

table tr:nth-child(6) {
    border-bottom-left-radius: 4px;
}

.fa-check {
    color: #12A945;
}

.fa-times {
    color: #FC4C50;
}

.fa-check, .fa-times {
    font-size: 27px;
}

article.financing {
    margin-right: 160px;
}

.post-bank-section {
    display: flex;
    justify-content: space-between;
    margin: 0 53px;
    position: relative;
    top: 271px;
    align-items: flex-end;
 }

 .financing h2 {
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 1.8px;
 }

 .financing p:nth-child(3) {
     margin-bottom: 0;
 }

 .financing p:nth-child(4) {
     margin-top: 0;
     margin-bottom: 0;
 }

 /* FOOTER  */ 

 footer {
     background: #54546D;
     color: #908898;
     text-align: center;
     position: relative;
     top: 380px;
     padding: 26px;
 }