body{
    margin: 40px;
}

html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif ;
}


blockquote{
    border-left: rgb(221,221,221) solid 1px;
    font-style: italic;
}

table tr:nth-child(odd) td{
    background: rgb(241, 241, 241);
}


 td {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

table{
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    width: 1800px;
}



th {
    border-width: 1px;
    background: rgb(204, 204, 204);
}

hr{
    border-color:lightgrey;
    border-collapse: collapse;
}

.squares{
    list-style: square;
}

.discs{
    list-style: disc;
}